/*
Name: Jeremy Moore and Alec Maly
Net ID: jmoore28 and amaly1
COSC 311 Course Project
*/

body {
  background-color: #CBB682;
  color: #181510;
}

h1, h3 {
    text-align: center;
    margin: 1em 0 0 0;
}

main {
    padding-top: 1em;
}

#display {
    margin: auto;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.men {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: content;
    max-width: 80px;
}

.matches {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    flex-basis: content;
    max-width: 140px;
}

.women {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: content;
    max-width: 80px;
}

.blank {
    font-family: "Verdana";
    padding: 0.4em;
    margin: 0.5em;
    width: 24%;
    min-height: 1.15em;
    border-radius: 0.5em;
}

.name {
    background-color: #ED9121;
    font-family: "Verdana";
    text-align: center;
    padding: 0.4em;
    margin: 0.5em;
    width: 80%;
    border-radius: 0.5em;
}

.matches_name {
    background-color: #ED9121;
    font-family: "Verdana";
    text-align: center;
    padding: 0.4em;
    margin: 0.5em;
    width: 80%;
    border-radius: 0.5em;
}

#lastMessage {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 0.6em 1.6em;
    margin-right: 0.5em;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.2em;
    border-radius: 0.5em;
}

#preferences {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#men_prefs, #women_prefs {
    margin-top: 5%;
    display: inline-block;
    border-radius: 0.5em;
}

#men_prefs {
    background-color: lightblue;
    margin-right: 1em;
}

#women_prefs {
    background-color: pink;
}

th {
    text-align: left;
    padding-right: 0.8em;
}

td {
    padding-right: 0.6em;
}

.partner {
    background-color: yellow;
    border-radius: 0.4em;
}

#messages {
    margin: 5px auto;
    padding: 0 5px;
    width: 30em;
    vertical-align: top;
    line-height: 1.4em;
    
}

br {
    height: 5%;
}

@media (min-device-width: 768px) {

}